In [ ]:
# 6. Create a list(friend_names) with your friends names(atleaste 10 names)?
# print all names with in loop 
# Expected Output: my friend name is "ravi"
# 		     my friend name is "shanker"

In [2]:
friend_names=["Ramu","Arun","Vijaya","Arjun","Sindhu","Honey","Bhargavi","Jaswini","Nandini","Venu"]
for i in friend_names:
    print("My friend name is", i)

My friend name is Ramu
My friend name is Arun
My friend name is Vijaya
My friend name is Arjun
My friend name is Sindhu
My friend name is Honey
My friend name is Bhargavi
My friend name is Jaswini
My friend name is Nandini
My friend name is Venu

In [ ]:
# 7. Create a list(family_members) with your family members names(atleaste 10 names)?
# print all names with in loop

In [4]:
family_members=["Ashok","Sireesha","Lochan","Lakshmi","Ramesh","Nagamani","Hitesh","Chimandeep","Padma","Bose"]
for i in family_members:
    print("My family member name is", i)

My family member name is Ashok
My family member name is Sireesha
My family member name is Lochan
My family member name is Lakshmi
My family member name is Ramesh
My family member name is Nagamani
My family member name is Hitesh
My family member name is Chimandeep
My family member name is Padma
My family member name is Bose

In [ ]:
# 8. Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
# print all names with in loop

In [6]:
food_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"]
for i in food_items:
    print("Food item is", i)

Food item is upma
Food item is dosa
Food item is idly
Food item is puri
Food item is punugulu
Food item is roti
Food item is chapathi
Food item is parota
Food item is mysoor baji
Food item is minapa baji

In [ ]:
# 9. Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
# print all names with in loop

In [8]:
food_name=("upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji")
for i in food_items:
    print("Food item is", i)

Food item is upma
Food item is dosa
Food item is idly
Food item is puri
Food item is punugulu
Food item is roti
Food item is chapathi
Food item is parota
Food item is mysoor baji
Food item is minapa baji

In [ ]:
# 10. Create a set(colour_names) with your colour names(atleaste 10 names)?
# print all names with in loop

In [10]:
colours={"Red", "Green", "Black", "White", "Purple", "Pink","Violet","Yellow","Orange","Blue"}
for i in colours:
    print("Colour name is", i)

Colour name is Purple
Colour name is Orange
Colour name is Pink
Colour name is Red
Colour name is Violet
Colour name is Black
Colour name is Yellow
Colour name is Green
Colour name is White
Colour name is Blue

In [ ]:
# 11. Create a list(month_names) with your month names(atleaste 10 names)?
# print all names with in loop

In [12]:
month_names=["Jan","Feb","March","April","May","June","July","Aug","Sep","Oct","Nov","Dec"]
for i in month_names:
    print("Month name is", i)

Month name is Jan
Month name is Feb
Month name is March
Month name is April
Month name is May
Month name is June
Month name is July
Month name is Aug
Month name is Sep
Month name is Oct
Month name is Nov
Month name is Dec

In [ ]:
# 12. print 9th table (1 to 90)

In [6]:
table=9
for i in range(1,11):
    print(table, 'x', i, '=', table*i)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
# 13. print(12th table (1 to 120)

In [7]:
table=12
for i in range(1,11):
    print(table, 'x', i, '=', table*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120